BlueprintDemoApp.xcodeproj/project.xcworkspace/xcuserdata/themindinator.xcuserdatad/UserInterfaceState.xcuserstate
BlueprintDemoApp-2022/SwiftSyntax.playground/playground.xcworkspace/contents.xcworkspacedata
